.app-player-stats-widget

.app-game-levels{"ng-app" => "Blackjack", "ng-controller" => "LobbyCtrl"}
  %a{:href => "TODO" } Beginner

-# "ng-app"=> "Blackjack", "ng-controller" => "LobbyCtrl", 
-# "ng-init" => "getLobby()"


-#   <a ng-href="#/">Back</a>



