<!-- TODO: better styling -->
{{ game.level }}

<form ng-submit="bet()">
    <!-- send min and max as well for better UX?-->
    
    <input type="number" ng-model="amount" id="Amount" ng-hide="game.player_bet">
    <input type="submit" value="Bet" id="Bet" ng-hide="game.player_bet">
</form>

<button ng-click="hold()" id="Hold" ng-show="game.player_bet">Hold</button>
<button ng-click="hit()" id="Hit" ng-show="game.player_bet">Hit</button>


current bet - {{ game.player_bet }}
player-hand - {{ game.player_hand }}
dealer-hand - {{ game.dealer_hand }}
