<!DOCTYPE html>
<html ng-app="Blackjack">
<head>
  <title>Blackjack</title>
  <%= stylesheet_link_tag    "application", media: "all"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <div class="container">
    <div class="row">
      <div ng-controller="PlayerCtrl"> 
        <p>Total Chips: {{players.total_chips}}</p>
        <p>Level: {{ players.level }}</p>
        <pre>
            .======. 
            /((((((()\
          ((///    \))
          ((/`__   __())
          /`-{_o}^{o_}'\    
          \_     _\   _/
            \  .__,  / 
            \  `-' / 
            /`----'\
        .-"""`------'`""-. 
        </pre>
      </div>
    </div>
  </div>


</head>
<body>


<%= yield %>

</body>
</html>
