<!DOCTYPE html>
<html ng-app="Blackjack">
<head>
  <title>Blackjack</title>
  <%= stylesheet_link_tag    "application", media: "all"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <div ng-controller="PlayerCtrl"> 
    <p>Total Chips: {{players.total_chips}}</p>
  </div>


</head>
<body>


<%= yield %>

</body>
</html>
