<!DOCTYPE html>
<html ng-app="Blackjack">
<head>
  <title>Blackjack</title>
  <%= stylesheet_link_tag    "application", media: "all"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <div ng-controller="PlayerCtrl" class="text-left"> 
    <p>Total Chips: {{players.total_chips}}</p>
    <p>Level: {{ players.level }}</p>
    <pre>
         .======. You!
        /((((((()\
       ((///    \))
      ((/`__   __())
      /`-{_o}^{o_}'\
      \_     _\   _/
        \  .__,  / 
         \  `-' / 
         /`----'\
    .-"""`------'`""-.
 
    </pre>
  </div>


</head>
<body>


<%= yield %>

</body>
</html>
